{% extends "base.html" %}
{% block title %}
    {% block title1 %}Dashboard{% endblock title1 %}
{% endblock title %}

{% block body %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href='{% url "dashboard" %}'>Dashboard</a></li>
        <li><a href='{% url "employee" %}'>Employee</a></li>
        <li><a href='{% url "leave" %}'>Leave</a></li>
        <li><a href='{% url "attendance" %}'>Attendance</a></li>
        <li><a href='{% url "holiday" %}'>Holiday</a></li>
    </ul>

    <h2>Welcome to Dashboard Page {{request.user}}</h2>
    {% block dashboard %}{% endblock dashboard %}
    
    <a href='{% url "logout" %}'>Logout</a>
{% endblock body %}