{% extends "base.html" %}

{% block title %}SignIn{% endblock title %}

{% block body %}
    <div class="login-form">
        <h3>Login Page</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="field">
                <label for="id_username">{{ form.username.label }}</label>
                {{ form.username }}
                {{ form.username.help_text }}
                <span class="form-error">{{ form.username.errors }}</span>
            </div>
            <div class="field">
                <label for="id_password">{{ form.password.label }}</label>
                {{form.password}}
                {{form.password.help_text}}
                <span class="form-error">{{form.password.errors}}</span>
            </div>
            <div class="field button-field">
                <input type="submit" value="Login">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>
{% endblock body %}

{% block script %}
    {% if message %}
        alert({{message}})
    {% endif %}
{% endblock script %}